// Header
.header {
    grid-area: header;

    // Title
    p {
        font-size: $ftitle;
        padding-bottom: 16px;
    }

    // Link to my GH
    a {
        width: fit-content;
        background-color: $grey;
        font-size: $fbody;
        text-decoration: none;
        padding: $pbutton;
        transition: ease-in-out $animate;

        // Hover
        &:hover {
            background-color: $white;
            color: $grey;
        }
    }
}

// Mobile CSS
@media only screen and (max-width: $mobile) {

    // Adapts the grid for mobile devices
    .header {
        padding-bottom: $mmargin / 2;

        // Changes font size
        p {
            font-size: $fmtitle;
            overflow: hidden;
            padding-bottom: 16px;
        }

        a {
            font-size: $fmbody;
            padding: $pbutton;
        }
    }
}