// SCSS file for the output pane

.output {
    grid-area: output;
    margin-right: $margin;

    p.title {
        font-size: $fheader;
        padding-top: $ptext;
    }

    div {
        width: 100%;
        display: grid;
        grid-template-areas:
        "label output";
        background-color: $grey;
        color: $white;
        font-size: $fbody;
        padding: $pbutton;
        margin: $ptext 0;

        .label {
            grid-area: label;
        }

        .outputNumber {
            grid-area: output;
            text-align: right;
        }
    }
}

@media only screen and (max-width: $mobile) {
    .output {
        padding-right: $mmargin;
        
        p.title {
            font-size: $fmheader;
        }

        div {
            font-size: $fmbody;
        }
    }
}