// Main SCSS file for variables

// Colors
$black: #000;
$grey: #303030;
$white: #fff;
$red: #cc241d;

// Font sizes
$ftitle: 48pt;
$fmtitle: 42pt;
$fheader: 16pt;
$fmheader: 14pt;
$fbody: 12pt;
$fmbody: 10pt;

// Margin and padding
$margin: 2.5vw;
$mmargin: 6vw;
$pbutton: 14px;
$pmbutton: 8px;
$ptext: 16px;

// Animations
$animate: 150ms;

// max-width
$mobile: 700px;