@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');
@import "master";
@import "parts/header";
@import "parts/input";
@import "parts/output";

* {
    padding: 0;
    margin: 0;
    color: $white;
    font-family: 'JetBrains Mono', monospace;
}

body {
    background: $black;
}

.grid {
    display: grid;
    grid-template-areas: 
    'header header header'
    'input output output'
    'footer footer footer';
    padding: $margin;
    background-color: $black;
    gap: $margin;

    .footer {
        grid-area: footer;
        position: absolute;
        bottom: $margin;

        p {
            color: $grey;
            font-size: $fbody;
        }
    }
}

@media only screen and (max-width: 700px) {
    .grid {
        grid-template-areas: 
        'header'
        'input'
        'output'
        'footer';
        padding: $mmargin;

        .header {
            grid-area: header;
            padding-bottom: $mmargin;

            p {
                font-size: 24pt;
                overflow: hidden;
                padding-bottom: $mmargin;
            }

            a {
                font-size: $fmbody;
                padding: 8px;
            }
        }

        .input {
            grid-area: input;
            padding-bottom: $mmargin / 3;
            p {
                font-size: $fmheader;
            }
            .input {
                input, button {
                    font-size: $fmbody;
                    padding: 8px;
                }
            }
        }

        .output {
            grid-area: output;
            p.title {
                font-size: $fmheader;
            }
            div {
                font-size: $fmbody;
            }
        }
        .footer {
            grid-area: footer;
            font-size: $fmbody;
            bottom: $mmargin;
        }
    }
}